<ul class="list-group list-group-flush text-center mx-auto">
    <% if(recipe.ingred1) { %>
        <li class="list-group-item ingredients"><%= recipe.ingred1 %></li>
    <% } %> 
    <% if(recipe.ingred2) {  %>
        <li class="list-group-item ingredients"><%= recipe.ingred2 %></li>
        <% } %> 
    <% if(recipe.ingred3) { %>
        <li class="list-group-item ingredients"><%= recipe.ingred3 %></li>
        <% } %> 
    <% if(recipe.ingred4) { %>
        <li class="list-group-item ingredients"><%= recipe.ingred4 %></li>
        <% } %> 
    <% if(recipe.ingred5) { %>
        <li class="list-group-item ingredients"><%= recipe.ingred5 %></li>
        <% } %> 
    <div class="ingredients"></div>
</ul>