<%- include("layouts/header.ejs") -%>

<section class="mainSection">
    <%- include("layouts/sidebar.ejs", {categories: categories}) -%>

    <main class="recipe-section">
        <div class="breadcrumb">
            <span><a href="./" >Recipes</a> > <%=recipe.name%></span>
        </div>
        <div class=" container w-75 mt-5 p-0  m-auto detail-card">
            <h1 class="header text-center p-3 w-100 m-0">
                <%= recipe.name %>
            </h1>
            <div class="row m-0 p-0">
                <%- include("partials/detail-section.ejs", {header: "Image", recipe: recipe})-%>

                <%- include("partials/detail-section.ejs", {header: "Ingredients", recipe: recipe})-%>
            </div>
            <div class="row m-0 p-0">
                <%- include("partials/detail-section.ejs", {header: "Description", recipe: recipe})-%>

            </div>
        </div>
    </main> 
</section>


<%- include("layouts/footer.ejs") -%>
